/* Pages.css */


.HeaderContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 16%;
  position: relative;
}

.HeaderText {
  display: flex;
  align-items: center;
}
@keyframes bobbleRotate {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  25% {
    transform: translateY(-10px) rotate(-90deg);
  }
  50% {
    transform: translateY(0) rotate(-180deg);
  }
  75% {
    transform: translateY(10px) rotate(-270deg);
  }
  100% {
    transform: translateY(0) rotate(-360deg);
  }
}

.HomePagePhoto {
  width: 1800px;
  height: auto;
  margin-right: 16%;
  z-index: 0;
  animation: bobbleRotate 25s linear infinite; /* Adjust the duration and timing function as needed */
}

.Header {
  text-align: left;
  margin-bottom: 15px;
  color: white;
}

.HeaderParagraph {
  display: flex;
  text-align: left;
  color: white;
}

.button-container {
  text-align: center;
}

.HomeButtons {
  z-index: 1; 
  background: linear-gradient(to bottom right, #000000, #0F243F);
  color: white;
  padding: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px 15px;
  height: 200px;
  max-width: 600px;
  display: inline-block;
  text-align: left;
  vertical-align: top;
  transition: box-shadow 0.3s ease;
}

.HomeButtons:hover {
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.5);
}

.HomeButtons:hover img {
  filter: invert(100%);
}


.ButtonHeading {
  font-size: 24px;
  font-weight: bold;
  color: white;
  margin-bottom: 10px;
  margin-left: 10px;
  display: flex;
  align-items: center; /* Align items vertically */
}

.ButtonHeading img {
  margin-right: 0.5rem;
}

.ButtonParagraph {
  margin-left: 10px;
  font-size: 14px; /* Adjusted font size */
  margin-bottom: 0px 50px 0px 50px;
  word-break: break-word;
}

.Buttons {
  text-align: center;
}


.ButtonContent {
  display: flex;
  align-items: center;
}

.ButtonLogo {
  margin-right: 0.5rem;
}

.fade-in {
  opacity: 1;
  transition: opacity 0.5s ease-in-out; /* Add a transition for opacity */
}