/* Pages.css */

:root {
  font-size: 16px; /* Set a base font size for the document */
  --background-color: #060606; /* black */
  --box-shadow-color: rgba(54, 54, 54, 0.5); /* dim gray */
  --button-background: #cf7106; /* dark orange */
  --input-background: #000000; /* black */
  --error-color: #db6464; /* indian red */
  --success-color: rgb(153, 210, 153); /* medium sea green */
  --link-color: orange;

}

#dark {
  --background-color: #090909; /* black */
  --box-shadow-color: rgba(54, 54, 54, 0.5); /* dim gray */
  --button-background: #cf7106; /* dark orange */
  --input-background: #000000; /* black */
  --error-color: #db6464; /* indian red */
  --success-color: rgb(153, 210, 153); /* medium sea green */
  --link-color: orange;
}

#light {
  --background-color: #f4e8e8; /* black */
  --box-shadow-color: rgba(76, 76, 76, 0.5); /* dim gray */
  --button-background: #cf7106; /* dark orange */
  --input-background: #000000; /* black */
  --error-color: #db6464; /* indian red */
  --success-color: rgb(153, 210, 153); /* medium sea green */
  --link-color: orange;
}

.page-content {
  animation: fade-in 1.5s;
  justify-content: center;
  align-items: center;
}

.main-heading {
  margin-left: 8.8rem;
  margin-bottom: 2rem;
}

.main-text{
  font-weight: 300;
}

.HeaderContainer {
  display: flex;
  margin-left: 9rem;
  margin-bottom: 2.25rem; /* 20px */
  position: relative;
  overflow: hidden;
  flex-grow: 1;

}

.PredContainer {
  display: flex;
  margin-left: 9rem;
  position: relative;
  overflow: hidden;
  flex-grow: 1;

}


.HeaderText {
  display: flex;
}

@keyframes bobble {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-0.625rem) translateY(2rem);
  }
  50% {
    transform: translateY(0) translateY(0rem);
  }
  75% {
    transform: translateY(0.625rem) translateY(2em);
  }
  100% {
    transform: translateY(0) translateY(0rem);
  }
}

.background {
  z-index: -1; /* Set z-index to -1 to place the background image behind other elements */
  position: fixed; /* Ensure the background image covers the entire viewport */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the background image covers the entire container */
  filter: brightness(120%);
}


.Header {
  font-size: 2.5rem;
  margin-bottom: 0.3rem; /* 15px */
  font-weight: 450;
}

.HeaderParagraph {
  display: flex;
  font-size: 1rem;
}

.HomeButtons {
  z-index: 1;
  background: transparent;
  padding: 1.25rem; /* 20px */
  border: none;
  border-radius: 0.5rem; /* 20px */
  cursor: pointer;
  margin-right: 2rem; /* 20px 15px */
  height: 10.0rem; /* 200px */
  max-width: 35rem; /* 600px */
  display: inline-block;
  text-align: left;
  vertical-align: top;
  transition: box-shadow 0.3s ease;
  filter: brightness(110%);
}

.HomeButtons:hover {
  box-shadow: 0 0 1.25rem 0.625rem var(--box-shadow-color); /* 20px 10px */
}

.HomeButtons:hover img {
  filter: invert(100%);
}

.ButtonHeading {
  font-size: 1.5rem; /* 24px */
  font-weight: 450;
  margin-left: 0.625rem; /* 10px */
  display: flex;
}

.ButtonHeading img {
  margin-right: 0.3125rem; /* 5px */
}

.ButtonParagraph {
  margin-left: 0.625rem; /* 10px */
  font-size: 1rem; /* 16px */
  margin-bottom: 0; /* Removed unnecessary margin */
}

.Buttons {
  margin-left: 8.0rem;
}

.ButtonContent {
  display: flex;
  align-items: center;
}

.ButtonLogo {
  margin-right: 0.3125rem; /* 5px */
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.PredButtons {
  z-index: 1;
  background: transparent;
  padding-top: 3.25rem; /* 20px */
  padding-right: 3.25rem;
  border: none;
  border-radius: 1.25rem; /* 20px */
  margin-right: 2rem; /* 20px 15px */
  height: 20.0rem; /* 200px */
  max-width: 200rem; /* 600px */
  display: inline-block;
  text-align: left;
  vertical-align: top;
  transition: box-shadow 0.3s ease;
  
}

.generate-btn {
  width: calc(100% - 1rem); /* Take up most of the available width */
  max-width: 10.125rem; /* 450px */
  margin: 0.3rem 0rem 0.75rem 0rem; /* 10px 6px 60px 6px */
  background-color: #1d1d1d;
  padding: 0rem 3rem; /* 10px 20px */
  border: none;
  cursor: pointer;
  height: 3rem;
  z-index: 0;
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
  font-size: 1.125rem; /* 18px */
  font-weight: 400;
  margin-left: -0.5rem;
  border-radius: 4px;
  position: relative; 
}


.test-results {
 margin-left: 0.4rem;
 margin-top: 1rem;
}

.pred-teams {
  display: flex;
  margin-top: 1.5rem;
}


.generate-btn::before {
  content: ''; /* Add a pseudo-element */
  position: absolute; /* Position it absolutely relative to the button */
  top: 0;
  left: 0;
  width: 0; /* Initially set width to 0 */
  height: 100%;
  background-color: #9d5504; /* Background color to animate */
  z-index: -1; /* Ensure the pseudo-element is behind the text */
  transition: width 0.3s ease; /* Define the transition property */
  border-radius: 4px;

}

.generate-btn:hover::before {
  width: 100%; /* Expand the width on hover */
}

.team-1 {
  margin-left: 0.5rem;
  margin-right: 3rem;
  color: black;
  align-items: center; /* Center items vertically */
}

.team-2 {
  margin-top: -0.5rem;
  margin-left: 3rem;
  display: flex;
  color: black;
  align-items: center; /* Center items vertically */
}

.pred-single-team select::-webkit-scrollbar {
  display: none;
}

.pred-single-team select {
  background-color: #1c1c1c; /* Grey background */
  color: white; /* White font color */
  border-radius: 2px; /* 2px border radius */
  border: none; /* Remove default border */
  padding: 1rem; /* Adjust padding as needed */
  margin-right: 10px; /* Adjust margin between dropdowns */
  cursor: pointer; /* Change cursor to pointer on hover */
  transition: height 0.3s ease-in-out;
  overflow: hidden; /* Hide overflow content */
  padding: 1rem; /* Adjust padding as needed */
  font-size: 16px; /* Adjust font size as needed */
  height: 3.5rem; /* Adjust height as needed */
  padding-right: 5rem;

}

.pred-single-team select option {
  margin-top: 1rem; /* Adjust space between items */
}

.pred-single-team:hover select {
  display: initial; /* Show the select element on hover */
  height: auto; /* Expand height on hover */

}

.pred-single-team select:hover {
  background-color: #121212; /* Darker grey on hover */
  color: var(--button-background)
}

/* Optional: Style for when a dropdown is open */
.pred-single-team select:focus {
  outline: none; /* Remove default focus outline */
  box-shadow: 0 0 3px 1px #cf7106; /* Add a shadow when focused */
}

.pred-single-team option:hover {
  background-color: #121212; /* Darker grey on hover */
  color: var(--button-background);
}

.registration-logo {
  font-size: 1.5rem; /* 2.0rem */
  margin: 1rem;
  margin-left: -14rem; /* 6px */
  font-weight: 500;
}

.registration-logo img{
  width: 1.5rem;
}

.registration-form {
  display: flex;
  justify-content: left;
  border-radius: 0.625rem; /* 10px */
  flex-direction: column;
  background: var(--background-color);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 2.5rem auto; /* Auto margin for centering */
  padding: 1.875rem; /* 30px */
  max-width: 28.125rem; /* 450px */
}

.registration-header {
  text-align: left;
  margin: 1.25rem 0rem 1.25rem -8.9rem; /* 20px 6px 20px 6px */
  font-size: 2rem; /* 30px */
}


/* Style for input fields */
.resgistration-input {
  width: calc(100% - 1rem); /* Take up most of the available width */
  max-width: 28.125rem; /* 450px */
  margin: 0.3125rem; /* Removed margin */
  border: none;
  height: 3rem;
  background-color: var(--input-background);
  margin-bottom: 1.25rem; /* 20px */
  padding: 0.625rem; /* 10px */
  border-radius: 0.375rem; /* 6px */
}

.resgistration-input::placeholder{
  font-size: 1rem;
}

.registration-btn {
  width: calc(100% - 1rem); /* Take up most of the available width */
  max-width: 28.125rem; /* 450px */
  margin: 0.625rem 0.375rem 0.75rem 0.375rem; /* 10px 6px 60px 6px */
  background-color: var(--button-background);
  padding: 0.625rem 1.25rem; /* 10px 20px */
  border: none;
  border-radius: 0.625rem; /* 10px */
  cursor: pointer;
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
  font-size: 1.125rem; /* 18px */
  font-weight: 500;
}

.registration-btn:hover {
  box-shadow: 0 0 0.625rem 0.3125rem rgba(0, 0, 0, 0.5); /* 10px 5px */
  background-color: #9d5504; 
}

.error-container {
  margin-top: 0rem; /* Adjust the top margin as needed */
  text-align: center;
  color: var(--error-color); /* Set the color for error messages */
}

.success-container {
  margin-top: 1rem;
  color: var(--success-color);
}


@media (max-width: 48.75rem) { /* 780px */
  .HeaderContainer {
    flex-direction: column;
    text-align: center;
  }

  .Header {
    text-align: center;
  }

  .HeaderParagraph {
    display: flex;
  }
}

@media (max-width: 100rem) { /* 1600px */

  .HomePagePhoto {
    padding-right: 10%;
    z-index: 0;
  
  }

  .Header {
    z-index: 1;
   }
}


.stats-search-container {
  display: flex;
  margin-top: 4rem;
  justify-content: left;
  min-height: 100vh;
  margin-right: 55%;
}

.stats-form {
  position: relative;
  width: 50rem;
  margin-right: 20%;
  margin-top: -2rem;
  background: var(--button-background);
  border-radius: 0.7rem;
}

.stats-input,
.stats-button {
  height: 3rem;
  border: 0;

  font-size: 1.3rem;
}

.stats-table{
  margin-top: -50rem;
}

.player-table {
  width: 100%;
  overflow-x: auto;
}

table {
  width: 90%;
  font-weight: 250;
  border-collapse: collapse;

}

.table-header {
  text-align: left;
  background-color: #6b3a02;
  font-size: 16px; /* Adjust the font size to make the header bigger */
  padding: 10px 6px; /* Add padding to create space around the text */
 font-weight: 400;
}

.table-body {
  text-align: center;
  padding: 8px 6px;
  background-color: #1d1d1d;
  border-radius: 8px;
  border: none !important; /* Use !important to override any other border styles */

}

.table-name{
  text-align: left;
}

.table-body tr:nth-child(even) {
  background-color: #222222; /* Light grey */
}

.table-body tr:nth-child(odd) {
  background-color: #191919; /* Darker grey */
}



td {
  padding: 6px;
}

/* Additional styling can be added as needed */


.stats-input[type="search"] {
  outline: 0; 
  width: 101%;
  background: #101010;
  padding: 0 1.6rem;
  border-radius: 0.6rem;
  appearance: none; 
  transition: all 0.3s cubic-bezier(0, 0, 0.43, 1.49);
  transition-property: width, border-radius;
  z-index: 1;
  position: relative;
}

.stats-button {
  display: none; /* prevent being able to tab to it */
  position: absolute;
  top: 0;
  right: 0;
  width: 6rem;
  font-weight: bold;
  background: var(--button-background);
  cursor: pointer;
  border-radius: 0 0.7rem 0.7rem 0;
}

.stats-input::placeholder {
  font-size: 1.3rem;

}

.stats-input:not(:placeholder-shown) {
  border-radius: 0.7rem 0 0 0.7rem;
  width: calc(100% - 6rem); /* Adjusted to keep the width on the right */
}

.stats-input:not(:placeholder-shown) + .stats-button {
  display: block;
}

.stats-input[type="search"]::-webkit-search-clear-button {
  display: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.stat-player-info {
  text-align: center;
  margin-top: 1rem; /* Adjust the margin-top as needed */
}

.stats-results-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin-top: -75rem;
}


.stats-search-container {
  display: flex;
  margin-top: 4rem;
}

.stats-form {
  position: relative;
  
  width: 50rem;
  background: var(--button-background);
  border-radius: 0.7rem;
}

.stats-input,
.stats-button {
  height: 3rem;
  border: 0;
  font-size: 1.3rem;
}

.stats-input[type="search"] {
  outline: 0; 
  width: 103%;
  background: #101010;
  padding: 0 1.6rem;
  border-radius: 0.6rem;
  appearance: none; 
  transition: all 0.3s cubic-bezier(0, 0, 0.43, 1.49);
  transition-property: width, border-radius;
  z-index: 1;
  position: relative;
}

.stats-button {
  display: none; /* prevent being able to tab to it */
  position: absolute;
  top: 0;
  right: 0;
  width: 6rem;
  font-weight: bold;
  background: var(--button-background);
  cursor: pointer;
  border-radius: 0 0.7rem 0.7rem 0;
}

.stats-input::placeholder {
  font-size: 1.3rem;
}

.stats-input:not(:placeholder-shown) {
  border-radius: 0.7rem 0 0 0.7rem;
  width: calc(100% - 6rem); /* Adjusted to keep the width on the right */
}

.stats-input:not(:placeholder-shown) + .stats-button {
  display: block;
}

.stats-input[type="search"]::-webkit-search-clear-button {
  display: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

/* New CSS for autocomplete suggestions */
.suggestions-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  background: var(--background-color);
  border: 1px solid var(--button-background);
  border-top: none;
  border-radius: 0 0 0.7rem 0.7rem;
  width: calc(100% - 6rem); /* Match the width of the search input */
  max-width: 50rem; /* Limit the width to match the width of the search bar */
  overflow-y: auto;
  z-index: 2;
}

.suggestion-item {
  padding: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.suggestion-item:hover {
  background-color: rgba(207, 113, 6, 0.2); /* Adjust as needed */
}

.no-suggestions {
  padding: 1rem;
  text-align: center;
  color: white; /* Adjust color as needed */
}

.login-logo {
  font-size: 1.5rem;
  margin: 1rem;
  margin-left: -14rem;
  font-weight: 500;
}

.login-logo img {
  width: 1.5rem;
}

.login-form {
  display: flex;
  border-radius: 0.625rem;
  flex-direction: column;
  justify-content: center;
  background: var(--background-color);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 2.5rem auto;
  padding: 1.875rem;
  max-width: 28.125rem;
}

.login-header {
  text-align: left;
  margin: 1.25rem 0rem 1.25rem -3rem;
  font-size: 2rem;
}


.login-input {
  width: calc(100% - 1rem);
  max-width: 28.125rem;
  margin: 0.3125rem;
  height: 3rem;
  border: none;
  background-color: var(--input-background);
  margin-bottom: 1.25rem;
  padding: 0.625rem;
  border-radius: 0.375rem;
}

.login-input::placeholder{
  font-size: 1rem;
}

.login-btn {
  width: calc(100% - 1rem);
  max-width: 28.125rem;
  margin: 0.625rem 0.375rem 0.75rem 0.375rem;
  background-color: var(--button-background);
  padding: 0.625rem 1.25rem;
  border: none;
  border-radius: 0.625rem;
  cursor: pointer;
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
  font-size: 1.125rem;
  font-weight: 500;
}

.login-btn:hover {
  box-shadow: 0 0 0.625rem 0.3125rem rgba(0, 0, 0, 0.5);
  background-color: #9d5504;
}

.error-container {
  margin-top: 0rem;
  text-align: center;
  color: var(--error-color);
}

.account-reroute {
  text-align: center;
  margin-top: 1rem; 
}

.regis-link, .login-link {
  color: var(--link-color);
  text-decoration: none;
}

.regis-link:hover, .login-link:hover {
  text-decoration: underline; /* Add underline on hover if needed */
}
